html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: var(--font-family);
  overflow-x: hidden;
  color: var(--color-2);
  font-weight: 400;
  min-width: 320px;
  font-size: 18px;
  @include table(){
    font-size: 16px;
  }
}

.lock {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: $container + 30px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
}

/*============= Прижимает footer к низу =============*/
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  @include table(){
    font-size: 30px;
  }
}
b {
  font-weight: 500;
}
p {
  line-height: 150%;
}

